::placeholder{
    color: #58687E;
}

.App{
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: "#58687E";
    display: flex;
    width: '100vw';
    height: '100vh';

}

.Sidebar{
    display: inline-block;
    position: -webkit-sticky;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 1080px;
    rotate: 0;
    background: #5DAAE0 0% 0% no-repeat padding-box;
    box-shadow: 3px 0px 6px #00000033;
    opacity: 1;
}


.Header{
    display: inline-block;
    position: -webkit-sticky;
    margin-top: 0vh;
    width: 100%;
    height: 100%;
    font-style: 'normal normal normal 20px/24px Roboto';
} 